@page "/Ajuda"
<h3>Ajuda ou Suporte</h3>

<div>
    <p>Se precisar de ajuda ou suporte técnico relacionado ao sistema, entre em contato conosco pelos seguintes meios:</p>

    <ul>
        <li>E-mail: suporte@sistemaeventos.com</li>
        <li>Telefone: +1 123 456 789</li>
        <li>Chat Online: Disponível em nosso site</li>
    </ul>
</div>