@page "/Evento"
<h3>Evento</h3>

@using BusinessLogic.ViewModels
@using BusinessLogic.Context
@using Microsoft.AspNetCore.Mvc.RazorPages
@using Microsoft.EntityFrameworkCore
@using System.Collections.Generic
@using System.Threading.Tasks

@code {
    namespace Frontend.Pages {
        
        public class EventoViewModel : PageModel
        {
    private readonly db_context _context;
    public EventoViewModel()
    { 
        _context = new db_context();
    }
    public List<EventoViewModel> Meals { get;set; } = default!;
    public async Task OnGetAsync()
    {
        if (_context.Eventos != null)
        {
            Meals = await _context.Eventos .Include(m => m.User) .Select(m => new EventoViewModel(Evento)).ToListAsync();
        }
    }
        }
    }
}

