@page "/"

<PageTitle>Index</PageTitle>

<h1>Gestão de Eventos e Participantes</h1>

Desenvolvimento de um sistema de gestão de eventos e participantes.



<SurveyPrompt Title="How is Blazor working for you?"/>