@page "/partir"
@inject NavigationManager NavigationManager

<button onclick="SairDoSite()">Sair</button>

@code {
    private void SairDoSite()
    {
        NavigationManager.NavigateTo("https://www.google.com");
    }
}