<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Frontend</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="criarevento" Match="NavLinkMatch.All">
                <span class="oi oi-pencil" aria-hidden="true"></span> Criar Evento
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="meuseventos" Match="NavLinkMatch.All">
                <span class="oi oi-folder" aria-hidden="true"></span> Os Meus Eventos
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="pesquisareventos" Match="NavLinkMatch.All">
                <span class="oi oi-magnifying-glass" aria-hidden="true"></span> Pesquisar Eventos
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="meusregistos" Match="NavLinkMatch.All">
                <span class="oi oi-clipboard" aria-hidden="true"></span> Registos
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dadosconta" Match="NavLinkMatch.All">
                <span class="oi oi-key" aria-hidden="true"></span> Dados Conta
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="mensagens" Match="NavLinkMatch.All">
                <span class="oi oi-envelope-open" aria-hidden="true"></span> Mensagens
            </NavLink>
        </div>
         <div class="nav-item px-3">
                    <NavLink class="nav-link" href="relatorio" Match="NavLinkMatch.All">
                        <span class="oi oi-bar-chart" aria-hidden="true"></span> Relatórios
                        </NavLink>
                    </div>
        @* <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
         *@
        
        @* Comentário: Item de menu "Fetch data" 
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="fetchdata">
            <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
        </NavLink>
    </div>
    *@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="logout">
                <span class="oi oi-arrow-circle-left" aria-hidden="true"></span> Sair
            </NavLink>
        </div>
                <div class="nav-item px-3">
                <NavLink class="nav-link" href="criarutilizadores">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Criar Users
                </NavLink>
            </div>
        <div class="nav-item px-3">
                    <NavLink class="nav-link" href="ajuda">
                        <span class="oi oi-question-mark" aria-hidden="true"></span> Ajuda e Serviços
                        </NavLink>
                    </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}